<div class="container">
    <div class="row">
        <div class="col-xs-3">
        	<h2>What<br> We Do</h2>
        </div>
        <div class="col-xs-9">
        <br>
        	<h3>Stunning Craftmanship</h3>
          <p>We wouldn’t want our riders to ride our bikes that we wouldn’t. From our skilled welders to stitchers for our leather accessories, attention to detail goes to every part of these bikes.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-9">
        	<h3>Lightweight and Robust</h3>
          <p>Our Frames are all double heat treated for highest robustness in class. We take pride of our welding quality which can be seen by the uniformity of welding beams, thanks to our certified welders.</p>  
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
        		<h2>Our Latest<br> Bikes</h2>
        </div>
        <div class="col-xs-9">
        	<center><img  src="https://westcoast-mrrzg0mrkwh56p.netdna-ssl.com/wp-content/uploads/2017/03/ebike-tires-nclass.png" alt="Work Showcase" class="img-responsive"></center>
        <a href="#" class="btn btn_primary">View Specials</a> 
        </div>
    </div>
</div>
<br>