<h1>Contact</h1>

<form class="form1"> 
  <h2>Contact us today! and get ready for an amazing adventure with your new bike</h2>
  <br>
    <fieldset class="form2">
      <input placeholder="Name" type="text"/>
    </fieldset>
    <fieldset>
      <input placeholder="Phone Number" type="text"/>
    </fieldset>
    <fieldset>
      <textarea placeholder="What would you like to see in your new bike?" type="text"></textarea>
    </fieldset>
    <br>
    <button type="button">Submit</button>
</form>