    <section class="wrapper">
      <div class="banner">
        <div class="heading_content">
          <h1>Custom Bicycles from D.C</h1>
          <a href="#" class="btn">Let's chat! </a>
        </div>
        <div class="banner_bg">
          <img src="https://images.vexels.com/media/users/3/129491/isolated/preview/03485d871771367a49057c9efe4ad5e1-bmx-bike-sport-silhouette-by-vexels.png" alt="Paperpillar Mascot" class="small_bg">
        </div>
      </div>
    </section>
    <section class="wrapper" > 
      <div class="main_content">
        <h2>What<br> We Do</h2>
        <div class="skills">
          <h3>Stunning Craftmanship</h3>
          <p>We wouldn’t want our riders to ride our bikes that we wouldn’t. From our skilled welders to stitchers for our leather accessories, attention to detail goes to every part of these bikes.</p>
          <h3>Lightweight and Robust</h3>
          <p>Our Frames are all double heat treated for highest robustness in class. We take pride of our welding quality which can be seen by the uniformity of welding beams, thanks to our certified welders.</p>          
        </div>
      </div>
      <div class="sub_content">
        <h2>Our Latest<br> Bikes</h2>
        <div class="work_showcase">
        <img src="https://westcoast-mrrzg0mrkwh56p.netdna-ssl.com/wp-content/uploads/2017/03/ebike-tires-nclass.png" alt="Work Showcase" class="img-responsive">
        <a href="#" class="btn btn_primary">View Specials</a>
        </div>  
      </div>    
    </section>
    <br>
    <br>
    <br>
    <br>
    <section class="wrapper">
	  <div>
        <h2>Shop</h2>
        <br>
        <br>
        <div class="col-lg-11">
          <div class="row" align="center">
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= image_tag("bike.jpg", size: "130x90", class: "thumbnail img-responsive") %>
              <div class="panel">
                <h5>Custom Bike Product</h5>
                <h6 class="subheader">$600</h6>
              </div>
            </div> <!-- end col-sm-1 col-md-3 col-lg-4 -->
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= image_tag("bike.jpg", size: "130x90", class: "thumbnail img-responsive") %> 
              <div class="panel">
                <h5>Custom Bike Product</h5>
                <h6 class="subheader">$600</h6>
              </div>
            </div> <!-- end col-sm-1 col-md-3 col-lg-4 -->
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= image_tag("bike.jpg", size: "130x90", class: "thumbnail img-responsive") %>
              <div class="panel">
                <h5>Custom Bike Product</h5>
                <h6 class="subheader">$600</h6>
              </div>
            </div> <!-- end col-sm-1 col-md-3 col-lg-4 -->
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= image_tag("bike.jpg", size: "130x90", class: "thumbnail img-responsive") %>
              <div class="panel">
                <h5>Custom Bike Product</h5>
                <h6 class="subheader">$600</h6>
              </div>
            </div> <!-- end col-sm-1 col-md-3 col-lg-4 -->
          </div> <!-- end row -->
        </div>
      </div>
    </section>

  

