<body style="margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%">
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
      <tr bgcolor="#D2D7D9">
        <td align="center" style="padding: 20px 0 20px 0;">
          <%= image_tag("http://icons.iconarchive.com/icons/aha-soft/transport/128/bike-icon.png", width: "300") %>
        </td>
      </tr>
      <tr>
        <td bgcolor="#ffffff" style="padding: 20px 20px 20px 20px;">
          <p>Hi, Our awesome friend, you just signed up with The Bike Shop! and we want to thank you for your awesome support!</p>
          <br>
          <p> - The Bikeshop Team...OOooOOhh YEAH!</p>
        </td>
      </tr>
      <tr bgcolor="#D2D7D9">
      </tr>
    </table>
  </table>
</body>