/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{ 
	height:100%;
	font-size:100%;
    font:inherit;
    font-family: 'EB Garamond', serif;
}
body{ 
	min-height:100%; 
	padding:0; 
	margin:0; 
	position:relative; 
}
body::after{ 
	content:''; display:block; height:100px; 
}

/* Header and Navigation */
header {
    background: #fdfdfd;
    height: 60px;
}
a:hover, a:focus {
    text-decoration: none;
}
.headercontainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.logo1 {
        max-width: 100%;
        height: auto;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;     
}
 nav {
    float: right;
    padding: 1em 2em;
    font-size: 1.175em;
    text-transform: uppercase;
}
 nav a {
    text-decoration: none;
    color: rgb(40, 47, 88);
    margin-right: 1em;
    transition: ease-in 450ms;
    font-weight: 200;
}
 nav a:hover {
    color: #ffe067;
    text-decoration: none;
}
.free-shipping-offer {
  background: #00263b;
  width: 100%;
  line-height: 32px;
  text-align: center;
  color: #fff; 
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0 2em;
  
  > a {
    color: #fff;
    text-decoration: underline;
  }
}
/* Home */
/* Main Content */
.img-responsive {
	border: 0px solid #ddd;
}
.panel1 {
    border-width: 0px;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: white;
}
.subheader1 {
    line-height: 1.4;
    font-weight: 300;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    background: #ffd531;
    border-radius: 25px;
    color: #ffffff
}

.event_title_ {
	font-weight: 600;
	color: #ffd531;
}

/* Footer */
.footer_content {
    height: 400px;
    color: rgb(66, 76, 92);
    padding-top: 2em
}

.allfooter{ 
	background:#11172b;
}

.allfooter{ 
  position:absolute; 
  width:100%; 
}
.footer_container {
    width: 800px;
    margin: 0 auto;
    padding-top: 2.5em;   
}
.footer_container li {
    font-size: 1.8em;
}
.footer_container h3 {
    color: rgb(230, 231, 245);
    text-transform: uppercase;
    letter-spacing: 0.3em;
}
.footer_container p {
    color: rgb(170,171,187);
}
.social_icons {
    color: #E8D27C;
    transition: ease-in 450ms;
}
.social_icons:hover {
    color: #E8D27C;
}

.footer_container li {
    display: inline-block;
    margin-right: 1em;
}

/* About Page */
.wrapper {
    width: 800px;
    margin: 0 auto;
}
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  width: 170px;
  background: #dcbc40;
  border-radius: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1em;
  font-family: 'EB Garamond', serif;
  transition: ease-in 450ms;
  padding-bottom: 7px;
  padding-top: 7px;
}

.btn:hover {
  cursor: pointer;
  background: #F2F2F2;
  box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.3);
}
.main_content h2 {
    float: left;
    color: rgb(66, 76, 92);
    font-size: 3em;
    margin-top: 0.2em;
    border-bottom: 0.125em solid;
}
.form1 h2 {
	float: left;
    color: rgb(66, 76, 92);
    font-size: 1em;
    margin-top: 0.2em;
}
.main_content h3 {
    color: rgb(79, 90, 107);
}
.work_showcase {
    float: right;
    width: 400px;
}

.btn_primary {
    margin-top: 1em;
    position: relative;
    left: 50%;
    margin-left: -85px;
    padding: 10px;
}

.small-img {
    width: 400px;
}

.work_showcase img {
    
    border-radius: 1em;
}
/* Contact */
.contact {
    border: solid 0px #dddddd; 
    padding: 1.25rem;
    margin: 1.125rem 0;
}

/* Responsive Stuff */

@media (max-width: 1200px) {
    .wrapper, .footer_container {
        width: 700px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .wrapper, .footer_container {
        width: 600px;
        margin: 0 auto;
    } 
}

@media (max-width: 768px) {
    .wrapper, .footer_container {
        width: auto;
        margin: 1em 2em;
    }
    
    .heading_content {
        width: 50%;
        font-size: 0.8em;
    }
    .main_content h2 {
      margin-top: 0;
    }
    .small_bg {
       width: 80%;
       height: 80%;
    }
    .banner_bg {
        position: relative;
        top: 10%;
        right: 0%;
    }
    .footer_container {
        text-align: center;
    }
}

@media (max-width: 620px) {
    .logo {
        text-align: center;
        float: none;
        letter-spacing: 0.1em;
        font-size: 1.5em;
    }
    nav {
        
        text-align: center;
        padding-top: 0;
    }
    .heading_content {
        width: 40%;
        font-size: 0.5em;
    }
    .btn {
        font-size: 1.8em;
        margin-top: 1em;
    }
    .sub_content {
        height: 500px;
    }
    .sub_content h2 {
        text-align: center;
        border-bottom: none;
        width: auto;
        font-size: 2.2em;
        float: none;
    }
    .work_showcase {
        width: 400px;
        position: relative;
        right: 50%;
        margin-right: -200px;
    }
    .btn_primary {
        font-size: 1em;
    }
    .sub_content br {
        display: none;
    }
    .btn_secondary {
        font-size: 1em;
    }
}

@media (max-width: 550px) {

    .logo {
        text-align: center;
        float: none;
        letter-spacing: 0.1em;
        font-size: 1.5em;

    }
    .header-container {
        
        text-align: center;
        padding-top: 0;
    }

 
  
  .btn {
    font-size: 1.7em;
    margin-top: 1.5em;
   }
 
  
   .main_content h2, .skills {
        float: none;
        text-align: center;
    }
    
    .main_content h2 {
        font-size: 2.2em;
        border-bottom: none;
    }
    
    .main_content br {
        display: none;
    }
    
    .skills {
        width: auto;
    }
    
    .sub_content {
        height: auto;
    }
    
    .sub_content h2 {
        text-align: center;
        border-bottom: none;
        width: auto;
        font-size: 2.2em;
        float: none;
    }
    
    .sub_content br {
        display: none;
    }
    
    #topvisual {
        float: none;
        width: 400px;
        position: relative;
        left: 5%;
        margin-left: 20px;
    }
    
    .btn_primary {
        margin:1em;
        font-size: 1em;
        position: relative;
        left: 50%;
        width: 170px;
        margin-left: -85px;
    }
  .btn_secondary {
    font-size: 1em;
  }
}
