/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html,body {
    margin: 0;
    padding: 0;
    font-family: Oswald;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

/* Header Styling Rules */
header {
    background: #e8d27c;
    height: 60px;
}

.logo {
    float: left;
    margin: 0;
    padding: 1em 2em;
    font-size: 1.175em;
    text-transform: uppercase;
    color: rgb(255,255,255);
}
 nav {
    float: right;
    padding: 1em 2em;
    font-size: 1.175em;
    text-transform: uppercase;
}

 nav a {
    text-decoration: none;
    color: rgb(101, 101, 107);
    margin-right: 1em;
    transition: ease-in 450ms;
}

 nav a:hover {
    color: rgb(142, 142, 141);
}

/* Banner Styling Rules */
.banner {
    height: 320px;
    text-align: center;
    clear: both;
    /*background: black;*/
    position: relative;
}

.heading_content {
    width: 400px;
    /*background: pink;*/
    text-align: left;
    position: absolute;
    top: 0%;
    left: 50%;

}

.heading_content h1 {
  text-transform: uppercase;
  color: rgb(234, 190, 18);
  letter-spacing: 0.175em;
  font-size: 2.8em;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  width: 170px;
  background: #EABE12;
  border-radius: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1em;
  font-family: Oswald;
  transition: ease-in 450ms;
}

.btn:hover {
  cursor: pointer;
  background: #F2F2F2;
  box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.3);
}

.banner_bg {
    width: 300px;
    position: relative;
    top: 5%;
    right: -5%;
}

.small_bg {
    width: 300px;
    height: 300px;
}

/* Main Content */

.main_content h2 {
    float: left;
    color: rgb(66, 76, 92);
    font-size: 3em;
    margin-top: 0.2em;
    border-bottom: 0.125em solid;
}

.main_content h3 {
    color: rgb(79, 90, 107);
}


.skills {
    float: right;
    width: 300px;
    color: rgb(99, 99, 99);
}

.skills p {
    margin: 0;
}

/* Sub Content Styling */
.sub_content {
    clear: both;
    height: 420px;
    padding-top: 5em;
}

.sub_content h2 {
    color: rgb(66, 76, 92);
    font-size: 3em;
    border-bottom: 0.125em solid;
    width: 15%;
    float: left;
    margin-top: 0;
}

.work_showcase {
    float: right;
    width: 400px;
}

.btn_primary {
    margin-top: 1em;
    position: relative;
    left: 50%;
    margin-left: -85px;
    padding: 10px;
}

.small-img {
    width: 400px;
}

.work_showcase img {
    
    border-radius: 1em;
}

/* Footer Content Styling */
.footer_content {
    height: 400px;
    color: rgb(66, 76, 92);
    padding-top: 2em
}


/* Footer Styling */


.allfooter {
	/*background-color: black;*/
}
.footer_container {
    width: 800px;
    margin: 0 auto;
    padding-top: 2.5em;
    
}

.footer_container ul {
    padding: 0;
}

.footer_container li {
    font-size: 1.8em;
}

.footer_container h3 {
    color: rgb(255,255,255);
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.footer_container p {
    color: rgb(170,171,187);
}

.social_icons {
    color: #E8D27C;
    transition: ease-in 450ms;
}

.social_icons:hover {
    color: #E8D27C;
}

.btn_secondary {
    margin-top: 1em;
}

.footer_container li {
    display: inline-block;
    margin-right: 1em;
}

.btn-secondary {
    position: relative;
    top: 50%;
    left: 0%;
}

/* Responsive Stuff */

@media (max-width: 1200px) {
    .wrapper, .footer_container {
        width: 700px;
        margin: 0 auto;
    }
}

@media (max-width: 992px) {
    .wrapper, .footer_container {
        width: 600px;
        margin: 0 auto;
    } 
}

@media (max-width: 768px) {
    .wrapper, .footer_container {
        width: auto;
        margin: 1em 2em;
    }
    
    .heading_content {
        width: 50%;
        font-size: 0.8em;
    }
    .main_content h2 {
      margin-top: 0;
    }
    .small_bg {
       width: 80%;
       height: 80%;
    }
    .banner_bg {
        position: relative;
        top: 10%;
        right: 0%;
    }
    .footer_container {
        text-align: center;
    }
}

@media (max-width: 620px) {
    .logo {
        text-align: center;
        float: none;
        letter-spacing: 0.1em;
        font-size: 1.5em;
    }
    nav {
        
        text-align: center;
        padding-top: 0;
    }
    .heading_content {
        width: 40%;
        font-size: 0.5em;
    }
    .btn {
        font-size: 1.8em;
        margin-top: 1em;
    }
    .sub_content {
        height: 500px;
    }
    .sub_content h2 {
        text-align: center;
        border-bottom: none;
        width: auto;
        font-size: 2.2em;
        float: none;
    }
    .work_showcase {
        width: 400px;
        position: relative;
        right: 50%;
        margin-right: -200px;
    }
    .btn_primary {
        font-size: 1em;
    }
    .sub_content br {
        display: none;
    }
    .btn_secondary {
        font-size: 1em;
    }
}

@media (max-width: 550px) {
  .heading_content {
    /*background: pink;*/
    width: 300px;
    margin-left: -150px;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
  }
  
  .btn {
    font-size: 1.7em;
    margin-top: 1.5em;
   }
  .banner_bg {
    display: none;
   }
  
   .main_content h2, .skills {
        float: none;
        text-align: center;
    }
    
    .main_content h2 {
        font-size: 2.2em;
        border-bottom: none;
    }
    
    .main_content br {
        display: none;
    }
    
    .skills {
        width: auto;
    }
    
    .sub_content {
        height: auto;
    }
    
    .sub_content h2 {
        text-align: center;
        border-bottom: none;
        width: auto;
        font-size: 2.2em;
        float: none;
    }
    
    .sub_content br {
        display: none;
    }
    
    .work_showcase {
        float: none;
        width: 400px;
        position: relative;
        left: 5%;
        margin-left: 20px;
    }
    
    .btn_primary {
        margin:1em;
        font-size: 1em;
        position: relative;
        left: 50%;
        width: 170px;
        margin-left: -85px;
    }
  .btn_secondary {
    font-size: 1em;
  }
}
