// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Carousel*/

.carousel-inner {
	background-color: #000;
}

.carousel-caption {
	
	font-size: 40px;
	font-kerning: normal !important;
	text-rendering: optimizeLegibility;
	text-align: left;
	text-transform: uppercase;
	right: 5%;
	left: 55%;
	top: 5%;
	text-shadow: none;
	display: inline;
	color: #ffffff;
}
.carousel-control {
	background-image: none !important;
	text-shadow: none;
	color: #fff !important;
	opacity: 100;
	width: 7%;
}

.carousel-control:hover, .carousel-control:focus {
	background-color: rgba(0,0,0,0);
	color: #fff;
	opacity: 100;
}

.carousel-inner > .item > a > img {
	width: 50%;
}

.carousel-indicators {
	bottom: -60px;
}

.carousel-indicators > li {
	border: 0;
	border-radius: 0;
	background-color: #999;
	width: 12px;
	height: 12px;
	margin: 0;
}

.carousel-indicators > .active {
	background-color: #000;
}
/* Viewed! */
.viewed {
  text-align: center;
}

