<article class="container">
  <h2>Products</h2>
  <hr>
  <div class="container-fluid prod">
    <% cache(cache_key_for_products) do %>
    <%= render @products %>
    <% end %>     
  </div>  
  <hr>
  <%= link_to 'New Product', new_product_path , class: "btn btn-default" %>
  <div class ="page-number">
    <%= will_paginate @products %>
  </div>
</article>



